:root {
  --destructive-foreground: oklch(0.985 0 0);
  --selection: oklch(0% 0 0);
  --selection-foreground: oklch(1 0 0);
  --syntax-keyword: oklch(0.55 0.19 22);
  --syntax-string: oklch(0.52 0.14 148);
  --syntax-number: oklch(0.5 0.18 256);
  --syntax-comment: oklch(0.53 0.035 200);
  --syntax-function: oklch(0.49 0.2 295);
  --syntax-constant: oklch(0.5 0.18 256);
  --syntax-namespace: oklch(0.49 0.2 295);
  --syntax-parameter: oklch(0.55 0.17 48);
  --syntax-punctuation: oklch(0.45 0 0);
}

.dark {
  --destructive-foreground: oklch(0.985 0 0);
  --selection: oklch(0.922 0 0);
  --selection-foreground: oklch(0.205 0 0);
  --syntax-keyword: oklch(0.72 0.15 18);
  --syntax-string: oklch(0.8 0.14 150);
  --syntax-number: oklch(0.77 0.12 252);
  --syntax-comment: oklch(0.7 0.035 200);
  --syntax-function: oklch(0.74 0.14 300);
  --syntax-constant: oklch(0.77 0.12 252);
  --syntax-namespace: oklch(0.74 0.14 300);
  --syntax-parameter: oklch(0.81 0.11 58);
  --syntax-punctuation: oklch(0.72 0 0);
}
